/* Woks Sans Font */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap');

/* Shared Styles */
* {
    font-family: 'Work Sans', sans-serif;
}

.btn-primary {
    background: #FF900E;

    border-radius: 8px;
    border-style: none;
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 600;
    padding: 20px 25px;
    cursor: pointer;
}

/* Header styles */
header {
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-title {
    color: #131313;
    font-size: 3rem;
    font-weight: 700;
}

nav>ul {
    display: flex;

}

nav li {
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 1rem;

}

nav li a {
    text-decoration: none;
    color: #424242;
}

/* Banner Styles */
.banner-content {
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}

.banner-title {
    color: #131313;
    font-size: 4rem;
    font-weight: 700;
}

.banner-description {
    color: #727272;
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;

}

.banner img {
    margin-top: 40px;
    width: 100%;
}








/* Responsive Media Queries */

/* Mobile Devices */
@media screen and (max-width:576px) {
    header {
        padding: 20px;
    }
    nav{
        flex-direction: column;
    }

}


/* Tablet or Medium Devices */
@media screen and (min-width:576px) and (max-width:992px) {

    header {
        padding: 50px;
    }
    nav{
        flex-direction: column;
    }
}