/* Woks Sans Font */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap');

/* Shared Styles */
* {
    font-family: 'Work Sans', sans-serif;
}

.btn-primary {
    background: #FF900E;

    border-radius: 8px;
    border-style: none;
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 600;
    padding: 20px 25px;
    cursor: pointer;
}

.section-title {
    color: #131313;
    font-size: 3rem;
    font-weight: 700;
}

.text-description {
    color: #727272;
    line-height: 26px;
}

/* Header styles */
header {
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


nav>ul {
    display: flex;

}

nav li {
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 1rem;

}

nav li a {
    text-decoration: none;
    color: #424242;
}

/* Banner Styles */
.banner-content {
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}

.banner-title {
    color: #131313;
    font-size: 4rem;
    font-weight: 700;
}



.banner img {
    margin-top: 40px;
    width: 100%;
}

/* main styles */
main {
    max-width: 1440px;
    margin: 70px auto;
}

/* Teams Styles */

.teams-container {
    display: flex;
    align-items: center;
}

.teams-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

.teams-content {
    padding-left: 70px;
    padding-right: 70px;
}

.teams-title {
    font-size: 2.8rem;
}

.teams-title .txt-quick-list {
    color: #727272;
    font-weight: 500;
}

.teams-title .txt-of-our {
    color: #131313;
    font-weight: 700;
}

.teams-title .txt-features {
    color: #FF900E;
    font-weight: 700;
}

/* Facts Section Style */
.facts-card-container {
    display: flex;
    justify-content: space-around;
    font-weight: 600;
    
}

.facts-card-container .card {
    text-align: center;
    border-radius: 8px;
    border: 1px solid #FF900E;
    padding: 30px;
}

.facts-card-container .card-stats{
    font-size: 2.8rem;
    color: #424242;
    margin-top: 10px;
    margin-bottom: 10px;
}
.facts-card-container .card-title{
    font-size: 1.25rem;
    color: #727272;
    margin-top: 5px;
}






/* Responsive Media Queries */

/* Mobile Devices */
@media screen and (max-width:576px) {
    header {
        padding: 20px;
    }

    nav,
    .teams-container {
        flex-direction: column;
    }

    .teams-img-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .teams-content {
        padding-left: 20px;
        padding-right: 20px;
    }

}


/* Tablet or Medium Devices */
@media screen and (min-width:576px) and (max-width:992px) {

    header {
        padding: 50px;
    }

    nav,
    .teams-container {
        flex-direction: column;
    }
}